
body {
	background-color: grey;
	background-position: center top;
	background-size: cover;
}

.top{
	background: rgb(120,100,80);
	margin: 5px;
	padding: 3px;
	font: Times New Roman;
	font-size: 30px;
	font-weight: bold;
	text-align:center;
	border-top: solid black 3px;
	border-bottom: solid black 3px;	
}

.bar{
	display: flex;
	justify-content: space-between;
	background-color:white;
	margin-bottom: 5px;
}

.navigation li{
	display:inline; 
}

.container{
	display: flex;
	background-color: black;
}

.left{
	background-color: brown;
}

.right{
	background-color: green;

}

.navigation{
}

.clock{
	display:flex;
	justify-content: center;
	padding:30px;
	border: solid black 5px;
	font-family: sans-serif;
	background-color: blue;
	color:#fff;
	font-size:50px;
}

#days {
	height: 60px;
	padding: 10px;
	border-radius: 3px;
	background-color: grey;
	margin: 10px; 
}
#hours {
	height: 60px;
	padding: 10px;
	border-radius: 3px;
	background-color: grey;
	margin: 10px; 
}
#minutes {
	height: 60px;
	padding: 10px;
	border-radius: 3px;
	background-color: grey;
	margin: 10px; 
}
#seconds {
	height: 60px;
	padding: 10px;
	border-radius: 3px;
	background-color: grey;
	margin: 10px; 
}
.smalltext{
	padding-top: 5px;
	font-size:30px; 
}